*.js
!jest.config.js
!scripts/*.js
*.d.ts
node_modules
config.json
*.env
*.env.json

# CDK asset staging directory
.cdk.staging
cdk.out

# maintenance
.history/
data/
tmp/
**/logs/
**/package/
**/build/
